/* Application-wide styles */

html, body {
  margin: 0;
  height: 100%;
}

p, li, input {
  font-family: "sfns_displayregular";
  color: #444;
  margin: 0;
}

p {
  font-size: 1.5em;
}

ul {
  margin: 0;
}

h1, strong {
  font-family: "sfns_displaybold";
  font-weight: normal;
}

.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* Header bar */

.title-container {
  height: 160px;
  width: 100%;
  background: linear-gradient(90deg, rgb(29, 90, 147), rgb(75, 152, 95));
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  margin: 0;
  color: #fefefe;
  font-size: 3.4em;
}

/* Container styling */

.search-container, .results-container,
.favourites-container, .loading-container {
  width: 100%;
  padding: 25px;
  box-sizing: border-box;
}

.search-container, .results-container {
  padding-bottom: 0;
}

/* Search bar */

.search-container form {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.search-container input {
  width: 100%;
  padding: 14px 14px 8px;
  border: 2px solid #bbb;
  border-radius: 3px;
  font-size: 1.7em;
  height: 2.9em;
  box-sizing: border-box;
}

.search-container button {
  height: 2.9em;
  width: 2.9em;
  display: flex;
  background: rgb(76, 154, 93);
  margin-left: 20px;
  border: none;
  border-radius: 3px;
  font-size: 1.7em;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: box-shadow 0.2s;
}

.search-container button:hover {
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.7);
}

.search-container svg {
  height: 2.2em;
  width: 2.2em;
  fill: #fff;
}

/* Displayed items */

.results-container {
  margin-bottom: 50px;
}

.result-container {
  width: 100%;
  display: flex;
  margin: 20px 0;
}

.result-container button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.star {
  height: 25px;
  width: 25px;
  color: #bbb;
  transition: transform 0.2s;
}

.star:hover {
  transform: scale(1.1);
}

.star.favourite {
  color: rgb(76, 154, 93);
}

.result-title, .result-body {
  padding: 0 20px;
}

.result-title {
  width: 40%;
}

.result-body {
  width: 60%;
}

.result-body li {
  margin-bottom: 15px
}

/* Favourites styling */

.favourites-container {
  background: rgba(76, 154, 93, 0.05);;
  margin-top: auto;
}

.favourites-container h1 {
  color: rgb(76, 154, 93);
  font-size: 2.5em;
  margin: 0;
}

