<!DOCTYPE html>
<meta charset="utf-8">
<title>Toronto Waste Lookup</title>

<!-- Main stylesheet -->
<link rel="stylesheet" href="default.css">


<div id="lookup-app" class="container">
  <!-- Header -->
  <div class="title-container">
    <h1 class="title">Toronto Waste Lookup</h1>
  </div>

  <!-- Search bar -->
  <div class="search-container">
    <!-- A form that calls searchWaste on submit -->
    <!-- Note: .prevent removes the default page refresh -->
    <form id="search-form" @submit.prevent="searchWaste">
      <input v-model="searchString" v-on:keyup="checkEmpty">
      <input type="submit">
    </form>

  </div>

  <!-- Search results -->
  <div class="results-container">
    <!-- Loops over results in the filtered list -->
    <div v-for="result in filteredResults">
      <div class="result-title">
        <p>{{ result.title }}</p>
      </div>

      <div class="result-body" v-html="result.body">
        <!-- v-html displays the raw HTML -->
      </div>
    </div>
  </div>
</div>


<!-- Vue.js - production version, optimized for size and speed -->
<script src="vue.min.js"></script>

<!-- TESTING DATA -->
<script src="swm_waste_wizard_APR.js"></script>

<!-- Main application script -->
<script src="app.js"></script>
